@use "src/styles/variables.module";

.selectButton {

  background: variables.$secondary-color;
  cursor: pointer;
  position: relative;
  border-radius: 16px;

  .backdrop {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
  }

  &_active {
    .backdrop {
      display: block;
      border-radius: 16px;
      background: variables.$primary-color-opacity-20;
      border: 2px solid variables.$primary-color;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 25px;

    position: relative;
    z-index: 10;
  }



}