@use "src/styles/variables.module";

.backButton {
  position: absolute;
  left: 0;
  top: -6px;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;

  svg {
    display: flex;
  }

  &:hover {
    background: variables.$secondary-color;
  }
}