@use "src/styles/variables.module";


.input {
  font-size: 17px;
  font-weight: 500;
  background: variables.$secondary-color;
  color: variables.$text-color;
  padding: 20px;
  border-radius: 16px;
  border: 2px solid transparent;
  &::placeholder {
    color: variables.$text-color-light-opacity-50;
  }
  &:focus {
    outline: none;
    background: variables.$bg-color-light;
    border: 2px solid variables.$primary-color-darker;
  }
  &:hover {
    outline: none;
  }
}