@use "src/styles/mixins";

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  @include mixins.media_768 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}