@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}