//media mixins
@mixin media_1170 {
  @media (min-width: 1170px) {
    @content;
  }
}
@mixin media_979 {
  @media (min-width: 979px) {
    @content;
  }
}
@mixin media_768 {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin media_600 {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin media_480 {
  @media (min-width: 480px) {
    @content;
  }
}
@mixin media_350 {
  @media (min-width: 350px) {
    @content;
  }
}