$bg-color: #1F002B;
$bg-color-light: #492752;
$primary-color: #E4229B;
$secondary-color: #36173D;
$secondary-color-light: #6D4376;
$primary-color-dark: #E4229C;
$primary-color-darker: #D0006E;
$primary-color-light: #EB2F9A;
$primary-color-opacity-20: rgba(228, 34, 155, 0.2);
$grey: #E8EAF2;
$text-color: #ffffff;
$text-color-dark: #B6B8C3;
$text-color-light: #C4C8CC;
$text-color-light-opacity-50: rgba(196, 200, 204, 0.5);

:export {
  bgColor: $bg-color;
  bgColorLight: $bg-color-light;
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  secondaryColorLight: $secondary-color-light;
  primaryColorDark: $primary-color-dark;
  primaryColorDarker: $primary-color-darker;
  primaryColorLight: $primary-color-light;
  primaryColorOpacity20: $primary-color-opacity-20;
  grey: $grey;
  textColor: $text-color;
  textColorDark: $text-color-dark;
  textColorLight: $text-color-light;
  textColorLightOpacity50: $text-color-light-opacity-50;
}