// LoaderCircle.module.scss

.loader-circle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #ddd;
  overflow: hidden;

  .loader-progress-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip: rect(0, 50px, 100px, 0); // Clip the left half of the circle
  }

  .loader-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4CAF50;
    transform-origin: right center; // Change transform-origin to right center
  }

  .loader-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #333;
  }

  .progress-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px; // Adjust the width of the progress line
    height: 4px;
    border-radius: 2px;
    background-color: white;
  }
}
