@use "../../../../styles/variables.module";

.button {
  background: variables.$primary-color-light;
  font-weight: 800;
  border: none;
  border-radius: 25px;
  color: variables.$text-color;
  padding: 15px 50px;
  cursor: pointer;

  &:hover {
    background: variables.$primary-color-dark;
  }
  &:disabled {
    opacity: 20%;
  }
}