@use "../../../../../../styles/variables.module";

.line {
  position: relative;
  height: 6px;
  width: 100%;
  background: variables.$text-color;
  border-radius: 3px;

  &__filled {
    border-radius: 3px;
    position: absolute;
    background: variables.$primary-color;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
  }
}