@use "src/styles/mixins";


.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  flex-grow: 1;
  flex-shrink: 0;

  @include mixins.media_768 {
    padding-top: 100px;
  }
}