@use "src/styles/variables.module";

.checkbox {
  position: relative;

  input {
    margin: 0;
    appearance: none;
    display: block;
    width: 23px;
    height: 23px;
    cursor: pointer;
    border-radius: 8px;
    background: variables.$secondary-color-light;
    border: 1px solid variables.$primary-color;
  }

  &__mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }


  &_checked {
    input {
      background: variables.$primary-color;
    }

    .checkbox__mark {
      display: flex;
    }
  }
}