@use "styles/variables.module";
@import "src/styles/null-styles";
@import "src/styles/fonts";



body {
  background: variables.$bg-color;
  color: variables.$text-color;
  font-size: 17px;
  line-height: 1.35;
}