@use "src/styles/mixins";

.info {
  padding: 40px 0 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;

  @include mixins.media_768 {
    justify-content: center;
  }

}