@use "src/styles/variables.module";

.bubble {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  background: variables.$secondary-color;
  cursor: pointer;


  &__border {
    border-radius: 50%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: 2px solid variables.$primary-color;
  }

  &_active {
    .bubble__border {
      display: flex;
    }
  }

  &__content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
    word-wrap: anywhere;
    font-size: 13px;
    font-weight: 600;
  }
}